.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.taskHeader{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.img{
  height: 12px;
  width: 18px;
}

.advice{
  padding-top: 60px;
}
.task{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  }

.dashHeader{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #059DF2;;
    color: white;
    }

  .fixed{
      position: fixed;
      margin: 0 auto;
    }
    
  .dashData{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      border-bottom: 1px solid black;
      background-color: rgb(232, 230, 230);
      }

  .dash{
    background-color: rgb(235, 235, 235);
    padding: 1px;
  }


  .dashHeader2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #059DF2;
    }

    .dash2{
      background-color: rgb(235, 235, 235);
    }

    .emailLink{
      margin-top: 20px;
    }


    .mobileButton{
      color: white;
      background-color: #059DF2;
      border-radius: 8px;
      font-weight: bold;
  
    }

    .border{
      border-right: 1px solid black;
    }
    
    .dashData2{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-bottom: 1px solid black;
      background-color: rgb(232, 230, 230);
      }

  .userName{
    text-align: left;
    margin-left: 10px;
  }

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #0B1A2F;

}

.header{
  background-color: #0B1A2F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.header2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 60px;
}

.header2 > a{
  color: #059DF2;
  font-weight: bold;
}

.footer2 > a{
  color: #059DF2;
  font-weight: bold;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.flagged{
  text-decoration: none;
}

.labelTitleAll {
  text-align: left;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 20px;
}

.labelTitle {
  display: flex;
  flex-direction: row;
  
}

.editForm{
  display: flex;
  flex-direction: column;
}

.button3{
  text-decoration: none;

}

.search{
  display: flex;
  padding-left: 20px;
}

.labelTitle > button {
  height: 20px;
  border-radius: 10px;
  margin-top: 26px;
  margin-left: 5px;
  background-color:  #059DF2;
  color: white;
  font-weight: bold;
}

.loginMain{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginMain > h2{
  font-size: 28px;
  color: #0B1A2F;
  opacity: 80%
}

.loginMain > h5{
  font-size: 16px;
  color: #0B1A2F;
  opacity: 80%
}

.signupMain{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginhello{
margin-bottom: 20px;
font-size: 28px;
color: #0B1A2F;
opacity: 80%
}

.loginhello2{
margin-top: 20px;
font-size: 16px;
color: #0B1A2F;
opacity: 80%
}


.signupinfo > h5{
  font-size: 14px;
  color: #0B1A2F;
}

.loginForm > input{
  margin-bottom: 20px;
  padding: 5px;
  width: 250px;
  background: #FFFFFF;
  border: 1px solid #D2D2D0;
  box-sizing: border-box;
  border-radius: 4px;
  height: 32px;
}


.deleteShow{
  width: 250px;
}

.labelsName{
  opacity: 30%;
  padding-right: 168px;
  margin-bottom: 2px;
}

.labelsEmail{
  opacity: 30%;
  padding-right: 146px;
  margin-bottom: 2px;
}

.labelsRole{
  opacity: 30%;
  padding-right: 214px;
  margin-bottom: 2px;
}

.loginForm > select{
  margin-bottom: 20px;
  padding: 5px;
  width: 250px;
  background: #FFFFFF;
  border: 1px solid #D2D2D0;
  box-sizing: border-box;
  border-radius: 4px;
  height: 32px;
}

.loginButton{
  margin-top: 10px;
  margin-bottom: 20px;
  background: #059DF2;
  border-radius: 4px;
  width: 250px;
  padding: 10px;
  color: white;
}

.showMaster{
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  text-align: center;
  justify-content: center;
  padding-top: 20px
}

.titleShow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 28px;
  color: #0B1A2F;
}


.showMaster > h1{
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  background-color:  #0B1A2F;
  color: rgb(255, 255, 255);
  width: 200px;
}

.showMaster > h2{
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  background-color: #059DF2;
  color: white;
  width: 150px;
}


.otherButton{
  margin-top: 10px;
  margin-bottom: 20px;
  background: #059DF2;
  border-radius: 4px;
  width: 250px;
  padding: 10px;
  color: white;
}

.labels{
  opacity: 30%;
  padding-right: 176px;
  margin-bottom: 2px;
}

.headerLink{
  padding-right: 10px;
  padding-left: 10px;
}

.titlePageTitle{
  padding-left: 10px;
  color: #059DF2;
  font-size: 64px;
  padding-top: 4px;
  margin: 0 auto;
  text-decoration: underline;
  text-shadow: 2px 2px 2px white;
}


.footer{
  background-color: #0B1A2F;
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 100px;
  width: 100%;
}

.footer2{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.noteEnd{
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  justify-content: center;
  border-bottom: 1px solid black;
}

.note{
  border: solid black 1px;
  background-color: #059DF2;
  color: white;
  padding: 10px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.button3 > a {
  color: white
}

.buttons > .button3 {
  width: 100%;
  margin: 10px;
  justify-items: center;
  background-color: #059DF2;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.button3 {
  width: 90%;
  justify-items: center;
  background-color: #059DF2;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px;
}

.footer2 > a{
  color: #059DF2;
}

@media only screen and (max-width: 1200px) {
  
.dashHeader{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #059DF2;;
  }

  .fixed{
    position: fixed;
    margin: 0 auto;
  }
  
.dashData{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid black;
    background-color: rgb(232, 230, 230);
    }

  .display{
    display: none
  }
}

@media only screen and (max-width: 750px) {
  
  .header2{
    padding-top: 10px;
  }

  .dashHeader{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #059DF2;;
    }
  
    .fixed{
      position: fixed;
      margin: 0 auto;
    }
    
  .dashData{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-bottom: 1px solid black;
      background-color: rgb(232, 230, 230);
      }
  
    .display{
      display: none
    }

    .header2{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 0px
    }

    .header{
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }
  }

  @media only screen and (max-width: 700px) {
  
    .dashHeader{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      background-color: #059DF2;;
      }

      .dashHeader2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        background-color: #059DF2;;
        }
    
      .fixed{
        position: fixed;
        margin: 0 auto;
      }
      
    .dashData{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 1px solid black;
        background-color: rgb(232, 230, 230);
        }
    
      .display{
        display: none
      }
      .display2{
        display: none
      }

      .display3{
        display: none
      }
  
      .header2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0px
      }
  
      .header{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
      }
      .dashData2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid black;
        background-color: rgb(232, 230, 230);
        }
    }

    @media only screen and (max-width: 500px) {

      .button3 {
        width: 95%;
        justify-items: center;
        background-color: #059DF2;
        color: white;
        border-radius: 8px;
        font-weight: bold;
      }

      .showMaster{
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        text-align: center;
        justify-content: center;
      }

      .showMaster > h1{
        width: 200px;
        padding: 0px;
      }

      .showMaster > h2{
        width: 200px;
        padding: 0px;
      }

      .dashHeader{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        background-color: #059DF2;;
        }
  
        .dashHeader2{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          background-color: #059DF2;;
          }
      
        .labelTitleAll{
          text-align: center;
          padding-left: 0px;
        }

        .labelTitle{
          justify-content: center;
          justify-items: center;
        }

        .fixed{
          position: fixed;
          margin: 0 auto;
        }
        
      .dashData{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          border-bottom: 1px solid black;
          background-color: rgb(232, 230, 230);
          }
      
        .display{
          display: none
        }
        .display2{
          display: none
        }
  
        .display3{
          display: none
        }
    
        .header2{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 0px
        }

        .display4{
          display: none
        }
    
        .header{
          display: flex;
          flex-direction: column;
          padding-bottom: 100px;
        }
        .dashData2{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          border-bottom: 1px solid black;
          background-color: rgb(232, 230, 230);
          }
        .userName{
          text-align: center;
          }
        .emailLink{
          margin-bottom: 40px;
        }
      }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
